In [1]:
import numpy as np

# Dicionários

In [ ]:
#Coleções de dados que contém na sua estrutura um conjunto de pares chave/valor, nos quais cada chave individual tem um valor associado  {}

In [64]:
data = {i : np.random.randn() for i in range(7)}

In [65]:
data

{0: -0.12314960900984782,
 1: -0.46837532562046863,
 2: 0.556699070143354,
 3: -0.11276697150673755,
 4: -2.420910108584779,
 5: -0.29058505673915697,
 6: -0.5779034640116952}

In [11]:
dicio = {
    'Lee':'16',
    'Marcus':'45',
    'Leila':'21',
}

In [13]:
dicio['Lee']

'16'

In [14]:
type(dicio)

dict

In [15]:
type(data)

dict

# Listas

In [ ]:
#Lista é uma coleção de valores indexada, em que cada valor é identificado por um índice. O primeiro item na lista está no índice 0, o segundo no índice 1 e assim por diante. []

In [30]:
programadores = ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']

In [31]:
programadores[2]

'Samuel'

In [34]:
programadores.insert(1,'Lila')   #inseriu duas vezes sem querer
programadores

['Victor', 'Lila', 'Lila', 'Juliana', 'Samuel', 'Caio', 'Luana']

In [45]:
programadores.append('Lucas')
programadores

['Victor', 'Lila', 'Lila', 'Juliana', 'Samuel', 'Caio', 'Luana', 'Lucas']

In [49]:
programadores.remove('Juliana')

ValueError: list.remove(x): x not in list

In [48]:
programadores

['Victor', 'Lila', 'Lila', 'Samuel', 'Caio', 'Luana', 'Lucas']

In [50]:
programadores.pop(2)
programadores

['Victor', 'Lila', 'Samuel', 'Caio', 'Luana', 'Lucas']

# Tuplas

In [51]:
# Estrutura de dados semelhante a lista. Porém, ela tem a característica de ser imutável, ou seja, após uma tupla ser criada, ela não pode ser alterada - pode ser delimitada por () ou não

In [3]:
times_rj = ('Botafogo', 'Flamengo', 'Fluminense', 'Vasco')
times_rj[2]

'Fluminense'

In [4]:
tup = 4,5,6
a,b,c = tup
b

5

In [54]:
#se ela tiver um único item, é necessário colocar uma vírgula depois dele, pois caso contrário, o objeto que vamos obter é uma string
objeto_string = ('tesoura') 
type(objeto_string)

str

In [57]:
objeto_tupla = ('tesoura',)     
type(objeto_tupla)

tuple

In [5]:
#SWAP - trocar nome de variáveis
a, b = 1, 2
a

1

In [6]:
b

2

In [7]:
b, a = a, b
a

2

In [8]:
b

1

In [10]:
#Desempacotamento de variáveis = iteração por sequências de tuplas ou listas:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [11]:
# *rest 
values = 1,2,3,4,5
a, b, *rest = values
a, b

(1, 2)

In [12]:
rest

[3, 4, 5]