# "Pareia" os elementos de uma série de listas, tuplas ou outras sequências para criar uma lista de tuplas

In [3]:
seq1 = ['mar','lu','pau']
seq2 = ['celo','iz','lo']
zipped = zip(seq1,seq2)
list(zipped)

[('mar', 'celo'), ('lu', 'iz'), ('pau', 'lo')]

In [4]:
seq3 = [False,True]
list(zip(seq1,seq2,seq3))

[('mar', 'celo', False), ('lu', 'iz', True)]

In [5]:
for i, (a,b) in enumerate(zip(seq1,seq2)):
    print('{0}: {1},{2}'.format(i, a, b))

0: mar,celo
1: lu,iz
2: pau,lo

In [8]:
# Converte linhas em coluna de listas

names = [('Marcelo','Augusto'),('Luiz','Gustavo'),('Paulo','Henrique')]
first_names,last_names = zip(*names)

In [9]:
first_names

('Marcelo', 'Luiz', 'Paulo')

In [10]:
last_names

('Augusto', 'Gustavo', 'Henrique')