In [ ]:
# Sequência imutável, de tamanho fixo, de objetos Python. A forma mais fácil de criar uma tupla é com uma sequência de valores separados por vírgula:

In [2]:
tup = 4,5,6
tup

(4, 5, 6)

In [3]:
# Quando definimos tuplas em expressões mais complicadas, geralmente é necessário colocar os valores entre parênteses, como no exemplo a seguir:

In [4]:
tupl = (4,5,6),(7,8)
tupl

((4, 5, 6), (7, 8))

In [5]:
# Podemos converter qualquer sequência ou iterador em uma tupla chamando tuple:

In [6]:
tuple([4,0,2])

(4, 0, 2)

In [7]:
x = tuple('string')
x

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
x[2]

'r'

In [9]:
tupla = tuple(['saw', [1,2], True])
tupla[1].append(3)
tupla

('saw', [1, 2, 3], True)

In [10]:
# Concatenação de tuplas

In [18]:
(4,'e',6)+('são pares',)+('e',)+(1,3)+('são ímpares',)

(4, 'e', 6, 'são pares', 'e', 1, 3, 'são ímpares')

In [22]:
('marcelo ', 1)*4

('marcelo ', 1, 'marcelo ', 1, 'marcelo ', 1, 'marcelo ', 1)

In [23]:
tu = (4,5,6)
a,b,c = tu
b

5

In [28]:
tup = 4,5,(6,7)
a,b,(c) = tup
c

(6, 7)

In [30]:
tup = 4,5,(1,100)
a,b,(c,d) = tup
d

100

In [31]:
# Swap -> trocar nomes de variáveis

In [32]:
tmp = a
a = b
b = tmp

In [35]:
a,b = 1,2
print(a)
print(b)

1
2

In [36]:
b,a = a,b
print(a)
print(b)

2
1

In [37]:
# Iteração por sequências de tuplas ou listas:

In [50]:
seq = [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]                       # a,b e c se referem apenas as colunas
for a,b,c in seq:
    print('a = {0}, b = {1}, c = {2}'.format(a,b,c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9
a = 10, b = 11, c = 12

In [51]:
# sintaxe *rest -> resto 
# pode ser substituído por qualquer símbolo ou palavra, desde que venha acompanhado com * antes

In [56]:
valores = 1,2,3,4,5
a,b, *rest = valores
print(a,b)
print(rest)

1 2
[3, 4, 5]

In [59]:
valores = 1,2,3,4,5
a,b, *_ = valores                     # por convenção, muitos programadores utilizam o "_" para substituir o "rest"
print(a,b)
print(_)

1 2
[3, 4, 5]

In [ ]:
# count -> conta o número de ocorrências de um valor

In [62]:
a = (1,2,2,2,3,45,6,2,2,2,5,3)
a.count(2)

6