In [1]:
# Listas, diferente das tuplas, são mutáveis. Podemos defini-las utilizando [] ou com a função de tipo list:
# Listas e tuplas são semanticamente semelhantes

In [5]:
a_list = [2,3,7, None]
tup = ('foo','bar','baz')
b_list = list(tup)                 
b_list

['foo', 'bar', 'baz']

In [6]:
b_list[1] = 'marcelo'
b_list

['foo', 'marcelo', 'baz']

In [8]:
 # Função list é frequentemente usada como uma maneira de materializar um iterador ou uma expressão geradora

In [10]:
var = range(11)
var

range(0, 11)

In [11]:
list(var)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# OU SIMPLESMENTE                     *sem declarar uma variável*

list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
# Adicionando e removendo elementos

In [20]:
lista = [1,2,'Mar','Roger']
lista

[1, 2, 'Mar', 'Roger']

In [21]:
lista.append('Layla') #acrescenta no final
lista

[1, 2, 'Mar', 'Roger', 'Layla']

In [23]:
lista.insert(1,'red')      # insert é custosa do ponto de vista de processamento, se comparada com append
lista

[1, 'red', 2, 'Mar', 'Roger', 'Layla']

In [24]:
lista.pop(1)  # remove(por meio da posição) e devolve o elemento na posição 1 da lista

'red'

In [35]:
#IGNORAR
lista.insert(0,'1')
lista

['1', '1', 2, 'Mar', 'Roger', 'Layla', '1']

In [37]:
lista.remove('1') #remove (por meio do PRIMEIRO valor) 
lista

['1', 2, 'Mar', 'Roger', 'Layla', '1']

In [38]:
'Mar' in lista   # verifica se 'Mar' está contido na lista

True

In [39]:
 'Roger' not in lista # verifica se 'Roger' não está contido na lista

False

In [40]:
# VERIFICAR SE UMA LISTA CONTÉM UM VALOR É MUITO MAIS LENTO DO QUE FAZER ISSO COM DICIONÁRIOS E CONJUNTOS

In [42]:
# Concatenação de listas (semelhante as tuplas)

[4, None, 'Layla'] + [7,8,(2,3)]

[4, None, 'Layla', 7, 8, (2, 3)]

In [44]:
x = [4, None, 'fall']
x.extend([10,100,(2,3)]) # Função extend também acrescenta 
x

[4, None, 'fall', 10, 100, (2, 3)]

In [45]:
# A CONCATENAÇÃO DE LISTA POR ADIÇÃO É UMA OPERAÇÃO COMPARATIVAMENTE CUSTOSA, POIS UMA NOVA LISTA DEVE SER CRIADA E OS OBJETOS DEVEM SER COPIADOS. USAR extend PARA CONCATENAR ELEMENTOS EM UMA LISTA EXISTENTE, ESPECIALMENTE SE VOCÊ ESTIVER CONSTRUINDO UMA LISTA GRANDE, EM GERAL É PREFERÍVEL!

In [1]:
# Ordenação de listas

In [2]:
# Função sort
lista = [15,3,2,2,5,77,3]
lista.sort()
lista

[2, 2, 3, 3, 5, 15, 77]

In [3]:
# função sort possui a capacidade de passar uma chave de ordenação secundária
lista2 = ['marcelo','luiz','vanuza','estefano']
lista2.sort(key=len)      #ordenado pelo tamanho da palavra
lista2

['luiz', 'vanuza', 'marcelo', 'estefano']

In [4]:
# módulo bisect implementa a busca binária e a inserção em uma lista ordenada. bisect.bisect encontra o local em que um elemento deve ser inserido para que a lista continue ordenada, enquanto bisect.insort insere o elemento nesse local

In [5]:
import bisect

In [6]:
c = [1,2,2,2,3,4,7]
bisect.bisect(c,2)       #para não alterar a ordem da lista deve-se inserir o 2 na posição 4 da lista (não insere)

4

In [8]:
bisect.bisect(c,5)

6

In [10]:
bisect.insort(c,5) #inseri duas vezes sem querer
c

[1, 2, 2, 2, 3, 4, 5, 5, 7]

In [11]:
#Fatiamento (slicing)      start:stop

In [12]:
seq = [7,2,3,7,5,6,0,1]     # [1:5] pega do valor 2 ao valor 5
seq[1:5]                    # Embora o elemento no índice start esteja incluído, o índice stop não está, de modo que o número de elementos no resultado                                será stop - start = 5 - 1 = 4 valores

[2, 3, 7, 5]

In [13]:
seq[3:4] = [6,3]   #substitui o valor da posição 3(7) por 6 e acrescenta o valor 3 na posição 4
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [14]:
seq[:5]   # início da lista:posição 4

[7, 2, 3, 6, 3]

In [15]:
seq[3:] # posição 3:final da lista

[6, 3, 5, 6, 0, 1]

In [16]:
# índices negativos fatiam a sequência em relação ao final:

seq[-4:]

[5, 6, 0, 1]

In [17]:
seq[-6:-2] # posição 5 de trás pra frente até a posição 2 de trás pra frente
           # stop (não inclui) = posição 5 de trás pra frente 
           # start (inclui) = posição 2 de trás pra frente

[6, 3, 5, 6]

In [18]:
#step
seq[::2]  #obtém elementos alternados - nesse caso, de dois em dois da lista
          # lista = [7, 2, 3, 6, 3, 5, 6, 0, 1]
          #indíces = 2  1  2  1  2  1  2  1  2     serão exibidos os valores com indíces 2, começando do início pois não se especifica o start

[7, 3, 3, 6, 1]

In [20]:
# para inverter a lista ou tupla, pode-se usar o step com -1, por ex.:

seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]